@tailwind base;
@tailwind components;
@tailwind utilities;

input,
button {
  outline: none;
}

/* NextJS reset styles https://gist.github.com/dmurawsky/d45f068097d181c733a53687edce1919 */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
